<div class="row my-4">
  <form [formGroup]="gridFilter" class="col">
    <div class="form-row justify-content-around">
      <div class="col-6">
        <input type="text" placeholder="Search companies or posts" aria-label="Company and post filter"
          formControlName="filterText" class="form-control" (change)="changedValue()">
      </div>
      <div class="col-3">
        <select class="form-control" aria-label="Filter by status" formControlName="filterStatus"
          (change)="changedValue()">
          <option *ngFor="let opt of filterOpts" [ngValue]="opt.value">{{opt.key}}</option>
        </select>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <ag-grid-angular #aggrid class="col ag-theme-alpine h-100" [rowData]="companies | async" [columnDefs]="columnDefs"
    domLayout='autoHeight' [isExternalFilterPresent]="isExternalFilterPresent"
    [doesExternalFilterPass]="doesExternalFilterPass" [animateRows]="true">
  </ag-grid-angular>
</div>
