<div class="col-12">
  <p>{{str | async | json}}</p>

  <div class="card-deck">
    <div class="card border-info" tooltip="Number of applied jobs" [delay]="500" placement="bottom">
      <div class="card-body">
        <span class="lead text-info">Total: {{total | async}}</span>
      </div>
    </div>
    <div class="card border-warning" tooltip="Number of applications in progress" [delay]="500" placement="bottom">
      <div class="card-body">
        <span class="lead text-warning">In Progress: {{inProgress | async}}</span>
      </div>
    </div>
    <div class="card border-danger" tooltip="Number of rejections" [delay]="500" placement="bottom">
      <div class="card-body">
        <span class="lead text-danger">Rejected: {{rejected | async}}</span>
      </div>
    </div>
    <div class="card border-success" tooltip="Number of offers recieved" [delay]="500" placement="bottom">
      <div class="card-body">
        <span class="lead text-success">Offered: {{offered | async}}</span>
      </div>
    </div>
  </div>
</div>
