<nav class="navbar navbar-dark fixed-top bg-dark justify-content-between p-0">
  <a class="navbar-brand text-light">
    <img src="assets/icons/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
    List Manager
  </a>
  <div class="btn-group" role="group" aria-label="First group">
    <button type="button" class="btn btn-dark" (click)="minimize()">_</button>
    <button type="button" class="btn btn-dark" (click)="maximize()">+</button>
    <button type="button" class="btn btn-danger" (click)="close()">X</button>
  </div>
</nav>
<div class="container mt-70">
  <div class="row">
    <app-stats></app-stats>
  </div>
  <div class="row">
    <app-new-entry></app-new-entry>
  </div>
</div>
<div class="container-fluid">
  <app-list></app-list>
</div>
