/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-balham-dark/sass/ag-theme-balham-dark-mixin.scss";

.ag-theme-alpine {
  @include ag-theme-balham-dark();
}

html,
body {
  margin : 0;
  padding: 0;

  height     : 1 vh;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}